html{
  background-color: hsl(218, 28%, 13%);
}


figure img {
  width:55%;
  height:auto;
}


.App {
  text-align: center;

}

/*styling for header component*/
.header{
  display :flex;
  justify-content:space-between;
cursor: pointer;
  color:hsl(0, 0%, 100%);
}

ul{
  list-style: none;
  display :flex;
  justify-content: flex-end;
  width:30vw;
  font-size:1.2em;

 
}
li{
  padding-right: 8%;
}
.header figure img {
  width:55%;
  display:flex;
  justify-content: flex-start;


}

/*styling for header component*/

/* landing page component*/

.landing article {
  color:hsl(0, 0%, 100%)
  
}
.landing button{
  width:26%;
  height:3.6em;
  background-color:  hsl(176, 68%, 64%);
  border:1px solid black;
  border-radius: 40px ;
  color:hsl(0, 0%, 100%);
  font-size:1em;
  cursor: pointer;
}



/* Features*/
.feature1,.feature2{
  display:flex;
  justify-content: space-evenly;
  width:55%;
  height: auto;
  color:hsl(0, 0%, 100%);
  margin:6em auto;
}

/* Productivity   */

.productivity{
  display: flex;
  justify-content: space-around;
  color:hsl(0, 0%, 100%);
}
.productivity figure img {
  width:90%;
  height:auto;
}
.productivity article {
  width:35%;
  text-align: left;
  margin:6rem auto;
  padding-right: 0.9rem;
}




/*  team*/
.team{
  display:flex;
  justify-content: center;
  position:relative;
  color:white;
  font-size: 0.9em;
  margin:2rem 5rem;
}
.team aside {
  display: flex;
  justify-content: left;
  word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: -2rem;
}
.team img{
  width: 5rem;
  height:5rem;
  border-radius: 50%;
}
.team p{
  text-align: left;
}

.team section  {
  background-color:hsl(219, 30%, 18%) ;

  width:30%;
  padding:1rem;
   margin:2rem 1rem;
}


/* quote image*/
.quote{
  position:relative;
}
.quote img {
  position:absolute;
  left:4%;
  width: 5%;
}


/* Footer*/

.footer{
  background-color: hsl(216, 53%, 9%);
  
  color:white;
}

.footer section {
  display:flex;
}
.footer ul {
  display:block;
}
.footer section figure {
  display:flex;
}

.logo{
  padding-top: 5rem;
}

.footer figure img {
   width:15%;
  display:flex;
  justify-content: flex-start;
  
}
/*Tablet mode view*/
@media(max-width:1024px){

  

}



/*Mobile View*/
@media (max-width:768px){

  .header{
    display :flex;
    justify-content:space-between;
 
  }

  ul{
    
    width:40%;
    font-size:1.2em;
    padding-right:2%;
    font-size: 0.9rem;
    margin-left:-15%;
    
  
  }

  .header figure img {
    width:50%;
    
  
  
  }

  li{
    padding-left: 5%;
    
  }

 .landing figure img {
    width:70%;
    height:70%;
  }



  /* landing page component*/

  .landing article {
    width: 90%;
    margin:2.0em auto;
    font-size: 0.8em;
  }

  .landing button{
    width:60%;
   
  }


  /* Features*/
.feature1,.feature2 ,.productivity{

  flex-direction: column;
  width:90%;
 
  
}
.feature2{
  margin-top:-3em;
}
.productivity article, .productivity figure{
  width:90%;
  padding-right: 0.2rem;
  
 }
 .productivity article{
  margin-left:2rem;
 }


 /*  quote*/
 .team{

  flex-direction: column;
  margin:0.5rem 2rem;
  margin-right: 4.6rem;
}

.team section  {
  background-color:hsl(219, 30%, 18%) ;

  width:95%;

   margin:1rem 1rem;
    
}

.team img{
  width: 3rem;
  height:3rem;
  border-radius: 50%;
 
}

.footer section  {
  display:flex;
  flex-direction: column;
}
.footer img {
  width:10%;
}
  
}